* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.grid {
    width: 700px;
    height: 700px;
    margin: 100px auto 0;
    display: flex;
    flex-flow: row wrap;
}

.square {
    border-radius: 8px;
    border: 1px solid black;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.text-area {
    font-size: 50px;
    color: white;
}

.red {
    background: #d12300;
}

.zero {
    background: #01572c;
}
